body
{
  color: white;
  background: #FF5F6D;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFC371, #FF5F6D);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  

}
.heading
{
font-size: 18px;
border-radius: 10px;
letter-spacing: 10px;
}
span
{
  font-size: 30px;
}
#camera , #result
{

  width: 350px;
  height: 300px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color: black;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
label{
  background-color: #8BC6EC;
  background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);  
    color: rgb(156, 13, 13);
    border-width: 90px;
    border-color: white;
    border-radius: 75px;
    padding-left: 10px;
    padding-right: 10px;
}